{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">{{#link-to 'application'}}Tal's ember.js example{{/link-to}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">{{#link-to 'what-is-this'}}What is this?{{/link-to}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">{{#link-to 'how-did-i'}}How did i do this?{{/link-to}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">{{#link-to 'who-am-i'}}Who am I?{{/link-to}} <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {{outlet}}
  </div>
</header>

