<h2>So how did i go about it?</h2>
<p>
  Well, first i had to learn the basics, so i quickly installed ember, went through some ember.js tutorials,
  understood the router system, played around with the flow of the "outlet" system. went a bit into components, links,
  image sources and all other basic ember.js functions i needed to accomplish this.
  I couldnt leave it without some basic frontend, so i sprinkled on some boiler plate bootstrap, of course in order to
  do that i learned what bower is and how to use it.
  though admittedly i could not spend much time on design, I'd love for you to check out some of my recent freelance work,
  in order to see some of my front end abilities. you could go <a href="http://blackstonestudios.de">here</a>, for example.
  my next challenge was to find a way to upload my site. a quick intro into uploading ember.js apps to github solved the issue.
  and here we are!
</p>