<div class="container">
  <div class="row">
    <div class="col-med-12 text-center">
      <h2>Welcome to my application to Suitepad!</h2>
      <p> this small website has been built with the explicit purpose of learning Ember.js, partly in order to apply
      for an internship at SuitePad</p>
    </div>
  </div>
</div>