<h2>it all started when i got a mail from Moberries..</h2>
<p>telling me they found a match! I've looked through Suitepad's job listing and i decided that this
  might fit me perfectly. I started my writing a long cover letter, listing my reasons as to
  why i will be the perfect candidate. I tried to convey that i am a quick lerner and very motivated.
  but then i thought, well they would like someone who can quickly learn ember.js, why don't i just do it?
  I've heard of ember before, sounds cool, why not just learn the basics in a couple of hours and
  upload my resume with it? so here we are :)
</p>